* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

/* Menu*/

.header {
  background-color: #C38154;
    height: 40px;

}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

 
  .item {
    font-size: 20pt;
    margin-right: 20px;
    display: inline;
  }
  
  .item a {
    text-decoration: none;
    color: black;
  }
  
  .item a:hover {
    text-decoration: underline;
    font-weight: 900;
  }
  .item:last-child {
    margin-right: 0;
  }
/*       background-image: linear-gradient(, yellow);*/ 
    .body {
      color: black;
        background-image: linear-gradient(to right,#C38154, #0673);
    }
  .home-box-img img {
    width: 200px;
    padding-left: 50px;
    padding-bottom: 80px;
  }
  .home-textos {
    padding-bottom: 40px;
    font-size: 3rem;
  }

  
  #sobre .subtitulo {
    padding-left: 70px;
    padding-bottom: 50px;
  }


  #sobre p{
    padding-left: 80px;
    padding-right: 90px;
    margin-bottom: 10px;
    text-align: justify;

  }  

  
    /*Projetos*/
    
    .imagem {
      border: solid 3px grey;
      width: 250px;
    }

    .imagem:hover {
      
    }
    
 /*Contatos*/
        .form {
          max-width: 70%;
          margin: 0 auto;
          padding: 20px;
           background-image: linear-gradient(to right, #C38154, #0673);
          padding-left: 10px;
        }
    
        .input-field,
        .textarea-field {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #CFCFA3;
          border-radius: 4px;
          font-size: 16px;
        }
         
        input {
          height: 80px;
        }

        textarea {
          height: 150px;
        }
        .submit-button {
          background-color: black;
          color: #FFFFFF;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
        }
    
        .submit-button:hover {
          background-color: rgb(109, 103, 97);
        }

        .footer {
          height: 50px;
          text-align: center;
          height: 70px;
        }

        .footer a, p {
                padding-top: 10px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                
        }

        .footer a:hover {
          font-size: 15pt;
        }

  /* Menu mobile*/



@media screen and (min-width: 768px) {
    .menu-mobile  .item-mobile{
        display: none;
    }
    
    
}



  @media screen and (max-width: 768px) {
    

      .header {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 50px;
      }
      
      .menu {
        display: none;
      }
      
      .menu-toggle {
        display: none;
        cursor: pointer;
      }
      
      .hamburger {
        width: 20px;
        height: 4px;
        width: 30px;
        background-color: black;
        margin-bottom: 4px;
      }
      
      .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 220px;
        background-image: linear-gradient(to right, #C38154, #0673);
        color: black;
        padding: 20px;
        transform: translateX(-200px);
        transition: transform 0.3s ease-in-out;
      }
      
      .sidebar.active {
        transform: translateX(0);
      }
      
      .menu-ul-mobile {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .item-mobile {
        margin-bottom: 70px;
        font-size: 20pt;
      }
      
      .item-mobile a {
        
        text-decoration: none;
        color: black;
         }
       .item-mobile :hover {
        text-decoration: underline;
        font-weight: 900;
       }

    .menu-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
    }
  
    .sidebar {
      position: fixed;
      z-index: 998;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebar.active {
      transform: translateX(0);
    }
  }
  

  /*IMG HOME*/
 
  .titulo {
    font-size: 28pt;
    font-weight: 900;
  }

  .texto-home {
    font-size: 14pt;
  }

  .img-home {
    width: 25rem;
    margin-top: 40px;
  }

  .container {
    display: flex;
  }
  
  .home-textos {
    padding: 5rem ;

  }

    .subtitulo {
      font-size: 20pt;
      font-weight: 900;
      padding-left: 30px;
    }
  
    .p {
      font-size: 12pt;
      text-align: justify;
      padding: 30px 30px 0;
    }
  
    .projetos {
      padding-left: 50px;
    }

  @media screen and (max-width: 768px) {
   
     
    #home {
      max-width: 100%
    }

    .titulo {
      font-size: 20pt;
      font-weight: 900;
    }
  
    .texto-home {
      font-size: 1rem;
      justify-content: center;
    }
  
    .img-home {
      padding: 20px;
      width: 13rem;
      margin-top: 40px;
    }
  
    .container {
      display: flex;
    }

    .home-textos {
      padding: 1rem;
      font-size: 5pt;
      font-weight: 400;
      margin-top: 60px;
      text-align: justify;
    }
    
    .subtitulo {
      font-size: 20pt;
      font-weight: 900;
      padding-left: 30px;
    }

    .p {
      font-size: 12pt;
      text-align: justify;
      padding:30px 30px 0;
    }

        #sobre p {
          padding-right: 40px;
        }

        /*Projetos*/
.projetos {
    padding-left: 70px;
  display: block;
}

.projetos-box {
  height: 20rem;
  width: 15rem;
  border: 5px solid #999999;
  margin-bottom: 30px;
  /* Ajuste o valor para obter 10px de espaço entre as caixas */
}



 .projetos-box,
 .titulo-projetos {
   padding-top: 17rem;
 }


  }


  



  

  